In [5]:
from data_collection.functions.data import get_data

btc = get_data("BTCUSDT", "1d", save=False)
btc

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'datetime.datetime'>
Downloading all available 1d data for BTCUSDT..
      timestamp            open            high             low
0    2017-08-17   4261.48000000   4485.39000000   4200.74000000  \
1    2017-08-18   4285.08000000   4371.52000000   3938.77000000
2    2017-08-19   4108.37000000   4184.69000000   3850.00000000
3    2017-08-20   4120.98000000   4211.08000000   4032.62000000
4    2017-08-21   4069.13000000   4119.62000000   3911.79000000
...         ...             ...             ...             ...
2093 2023-05-11  27598.74000000  27630.14000000  26702.05000000
2094 2023-05-12  26968.61000000  27091.12000000  25811.46000000
2095 2023-05-13  26795.01000000  27045.45000000  26692.03000000
2096 2023-05-14  26775.27000000  27200.00000000  26560.53000000
2097 2023-05-15  26917.61000000  27663.59000000  26726.00000000

               close          volume     close_time             quote_av
0      4285.08000000    795.15037700  1503014399999     3454770.05073206  \
1      4108.37000000   1199.88826400  1503100799999     5086958.30617151
2      4139.98000000    381.30976300  1503187199999     1549483.73542151
3      4086.29000000    467.08302200  1503273599999     1930364.39032646
4      4016.00000000    691.74306000  1503359999999     2797231.71402728
...              ...             ...            ...                  ...
2093  26968.62000000  47635.31365000  1683849599999  1295799109.01100400
2094  26795.01000000  67207.93494000  1683935999999  1777052127.73109300
2095  26775.28000000  22814.90421000  1684022399999   612062852.08668820
2096  26917.62000000  21594.80360000  1684108799999   580801698.00026930
2097  27390.89000000  36975.44941000  1684195199999  1010351313.13875240

       trades      tb_base_av         tb_quote_av ignore
0        3427    616.24854100    2678216.40060401      0
1        5233    972.86871000    4129123.31651808      0
2        2153    274.33604200    1118001.87008735      0
3        2321    376.79594700    1557401.33373730      0
4        3972    557.35610700    2255662.55315837      0
...       ...             ...                 ...    ...
2093  1257000  23270.11723000  632925807.49257740      0
2094  1351633  33147.27251000  876487224.25504230      0
2095   605049  10959.29947000  294038915.03262630      0
2096   629537  10672.14983000  287060095.33152760      0
2097   843068  17680.16190000  482982481.19929140      0

[2098 rows x 12 columns]
Historical price data is downloaded!

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore,market_cap
timestamp,,,,,,,,,,,,
2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,1503014399999,3.454770e+06,3427,616.248541,2.678216e+06,0.0,7.152795e+10
2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,1503100799999,5.086958e+06,5233,972.868710,4.129123e+06,0.0,6.871087e+10
2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,1503187199999,1.549484e+06,2153,274.336042,1.118002e+06,0.0,6.926514e+10
2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,1503273599999,1.930364e+06,2321,376.795947,1.557401e+06,0.0,6.752048e+10
2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,1503359999999,2.797232e+06,3972,557.356107,2.255663e+06,0.0,6.610699e+10
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-11,27598.74,27630.14,26702.05,26968.62,47635.313650,1683849599999,1.295799e+09,1257000,23270.117230,6.329258e+08,0.0,5.230230e+11
2023-05-12,26968.61,27091.12,25811.46,26795.01,67207.934940,1683935999999,1.777052e+09,1351633,33147.272510,8.764872e+08,0.0,5.192540e+11
2023-05-13,26795.01,27045.45,26692.03,26775.28,22814.904210,1684022399999,6.120629e+08,605049,10959.299470,2.940389e+08,0.0,5.188737e+11
2023-05-14,26775.27,27200.00,26560.53,26917.62,21594.803600,1684108799999,5.808017e+08,629537,10672.149830,2.870601e+08,0.0,5.217422e+11
2023-05-15,26917.61,27663.59,26726.00,27390.89,36975.449410,1684195199999,1.010351e+09,843068,17680.161900,4.829825e+08,0.0,NaN

In [14]:
import math
(len(btc)-math.ceil((len(btc)-14)*.8))/2

215.0

In [ ]:
# print("\n\nBitcoin dataframe info:\n")
btc.info()

In [ ]:
btc.describe()

In [ ]:
from data_collection.functions.data import visualize_data

visualize_data(btc)

In [12]:
import datetime

today=datetime.datetime.now()
(today - datetime.timedelta(days=36)).strftime("%d-%m-%Y")

'17-04-2023'

In [38]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.array([[1, 2, 3], [3, -5, 6], [7, 7, 9]]),
                   columns=['open', 'close', 'c'])
df1
df1["growth"] = df1["close"] - df1["open"]
df1["label"] = df1["growth"].shift(-1)
df2 = df1.shift(-1)

In [46]:
df1

   open  close  c  growth  label
0     1      2  3       1   -8.0
1     3     -5  6      -8    0.0
2     7      7  9       0    NaN

In [45]:
f_x = df1.iloc[:, :-1]
f_x

   open  close  c  growth
0     1      2  3       1
1     3     -5  6      -8
2     7      7  9       0

In [35]:
df2

0    1
1   -8
2    0
dtype: int64

In [48]:
df1_np = df1.to_numpy()
df2_np = df2.to_numpy()

np.append(df1_np, df2_np, axis=0)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [50]:
df1["label"].std(skipna=True)

5.656854249492381

In [1]:
import pandas as pd

df = pd.read_csv("./data_collection/datasets/full/data_with_statistics_BTCUSDT_1d_full.csv")

In [2]:
df

,Unnamed: 0,timestamp,open,high,low,close,volume,market_cap,volatility,growth,...,bb-ub,bb-lb,fr-0.236,fr-0.382,fr-0.5,fr-0.618,macd,signal,obv,label
0,98,2017-11-23,8233.03,8260.00,8000.00,8019.99,4093.952687,1.342279e+11,0.272936,-213.04,...,8474.731167,5059.656055,7566.54708,7167.24146,6844.515,6521.78854,296.486729,260.734118,1.051066e+04,118.03
1,99,2017-11-24,8019.97,8369.00,7850.00,8138.00,4411.789112,1.378320e+11,0.272179,118.03,...,8560.820507,5109.905604,7566.54708,7167.24146,6844.515,6521.78854,296.532489,267.242912,1.492245e+04,561.02
2,100,2017-11-25,8138.99,8734.78,8090.00,8700.01,4292.623682,1.468206e+11,0.274296,561.02,...,8719.433311,5100.737244,7939.38672,7468.83164,7088.520,6708.20836,314.936765,275.914522,1.921507e+04,427.98
3,101,2017-11-26,8700.04,9350.00,8604.72,9128.02,4147.380237,1.558507e+11,0.276735,427.98,...,8923.931437,5068.630785,8266.38636,7733.34182,7302.525,6871.70818,343.025914,288.116593,2.336246e+04,522.00
4,102,2017-11-27,9128.00,9654.28,9112.04,9650.00,4521.625707,1.640195e+11,0.279020,522.00,...,9185.226414,5012.890253,8665.17908,8055.92546,7563.515,7071.10454,382.250226,305.231799,2.788408e+04,246.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,2101,2023-05-19,26821.28,27183.60,26630.00,26880.26,28754.135440,5.210833e+11,0.121273,58.98,...,30586.898132,26030.043535,29595.70060,29056.71970,28621.105,28185.49030,-231.608153,-161.942570,-1.762346e+06,222.17
2004,2102,2023-05-20,26880.26,27150.00,26825.11,27102.43,14434.547180,5.257461e+11,0.121665,222.17,...,30403.408359,26026.616641,29529.29372,29003.00314,28577.645,28152.28686,-226.343521,-173.651834,-1.747912e+06,-354.64
2005,2103,2023-05-21,27102.42,27277.55,26666.03,26747.78,21347.872790,5.184895e+11,0.122050,-354.64,...,30237.956147,25994.996076,29522.80372,28992.49814,28563.895,28135.29186,-233.291116,-184.495340,-1.769260e+06,101.49
2006,2104,2023-05-22,26747.78,27099.89,26538.21,26849.27,26458.838280,5.204019e+11,0.122210,101.49,...,30045.112603,25995.874064,29522.80372,28992.49814,28563.895,28135.29186,-232.914447,-193.298814,-1.742801e+06,370.33
2007,2105,2023-05-23,26849.28,27495.83,26798.11,27219.61,38700.838580,5.276856e+11,0.120379,370.33,...,29941.441744,25976.730478,29522.80372,28992.49814,28563.895,28135.29186,-216.474333,-197.512545,-1.704100e+06,-489.61

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2008 entries, 0 to 2007
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2008 non-null   int64
 1   timestamp   2008 non-null   object
 2   open        2008 non-null   float64
 3   high        2008 non-null   float64
 4   low         2008 non-null   float64
 5   close       2008 non-null   float64
 6   volume      2008 non-null   float64
 7   market_cap  2008 non-null   float64
 8   volatility  2008 non-null   float64
 9   growth      2008 non-null   float64
 10  ma7         2008 non-null   float64
 11  ma25        2008 non-null   float64
 12  ma99        2008 non-null   float64
 13  rsi         2008 non-null   float64
 14  std         2008 non-null   float64
 15  bb-mb       2008 non-null   float64
 16  bb-ub       2008 non-null   float64
 17  bb-lb       2008 non-null   float64
 18  fr-0.236    2008 non-null   float64
 19  fr-0.382    2008 non-null   float64
 20  fr-0.5      2008 non-null   float64
 21  fr-0.618    2008 non-null   float64
 22  macd        2008 non-null   float64
 23  signal      2008 non-null   float64
 24  obv         2008 non-null   float64
 25  label       2008 non-null   float64
dtypes: float64(24), int64(1), object(1)
memory usage: 408.0+ KB

In [4]:
df.describe()

,Unnamed: 0,open,high,low,close,volume,market_cap,volatility,growth,ma7,...,bb-ub,bb-lb,fr-0.236,fr-0.382,fr-0.5,fr-0.618,macd,signal,obv,label
count,2008.00000,2008.000000,2008.000000,2008.000000,2008.000000,2008.000000,2.008000e+03,2008.000000,2008.000000,2008.000000,...,2008.000000,2008.000000,2008.000000,2008.000000,2008.000000,2008.000000,2008.000000,2008.000000,2.008000e+03,2008.000000
mean,1101.50000,20500.934442,21060.064467,19868.149323,20510.428596,80955.326213,3.830512e+11,0.223197,9.494153,20482.225260,...,23946.070078,16718.093891,22146.457946,21211.762003,20456.322816,19700.883629,42.456462,43.465604,1.223977e+06,9.356419
std,579.80399,16298.532905,16746.144443,15781.403566,16297.019348,88302.143085,3.102992e+11,0.090409,995.329700,16268.229085,...,18960.552401,13644.408951,17452.968093,16716.045278,16130.475781,15554.961866,669.564202,636.259747,1.818126e+06,995.379645
min,98.00000,3211.710000,3276.500000,3156.260000,3211.720000,1521.537318,5.640069e+10,0.072116,-7038.700000,3317.841429,...,3709.490990,2328.504003,3613.588240,3572.465880,3539.230000,3505.994120,-2667.245744,-2405.133192,-4.242985e+06,-7038.700000
25%,599.75000,8031.820000,8235.670000,7781.500000,8031.335000,33587.119995,1.411826e+11,0.167295,-226.682500,8060.883214,...,9619.987581,6317.055177,8907.600400,8448.757405,8110.690000,7754.495200,-205.045901,-184.099111,-2.593122e+05,-227.415000
50%,1101.50000,11852.970000,12089.540000,11498.905000,11866.750000,50585.143644,2.170364e+11,0.202725,6.595000,11725.545714,...,14011.871451,9763.805659,13024.250160,12396.805380,11593.700000,10949.661360,-4.303120,-9.157665,7.145969e+05,6.595000
75%,1603.25000,30329.962500,31144.332500,29457.785000,30330.960000,84902.929184,5.785496e+11,0.253234,248.112500,30252.076071,...,38494.130273,25983.933848,35562.771990,33573.362840,31715.391250,29622.680425,244.989252,249.129271,3.187290e+06,248.112500
max,2105.00000,67525.820000,69000.000000,66222.400000,67525.830000,760705.362783,1.274831e+12,0.609486,7579.180000,65450.215714,...,70130.382763,57511.975351,65123.847960,63637.876020,62436.885000,61235.893980,2852.500063,2413.744945,4.760199e+06,7579.180000